In [1]:
import numpy as np
import pandas as pd

In [3]:
pwd = pd.read_csv('pwd.csv')
pwd.shape

(12, 2)

In [4]:
pwd

            password  target
0        lamborghin1       1
1   AVYq1lDE4MgAZfNt       2
2           u6c8vhow       1
3           v1118714       1
4       universe2908       1
5           as326159       1
6           asv5o9yu       1
7             intel1       0
8       612035180tok       1
9         jytifok873       1
10  WUt9IZzE0OQ7PkNE       2
11           lsdlsd1       0